/* nav1.css */
/* Styles for the <nav> section */

/* Reset default list styles and remove bullet points */
ul.nav, li {
    list-style: none;
    padding: 20px;
    margin: 10px;
    display: inline;
  }