/* styleSheet1.css */

/* Styling the body element */
/* Styling headings */
h3 {
    color: #7f85a0;
}

.main-head {
    grid-area: header;
  }
.main-img {
    grid-area: img;
  }
  .content {
    grid-area: content;
  }
  .navbar {
    grid-area: nav;
  }
  .side {
    grid-area: sidebar;
  }
  .ad {
    grid-area: ad;
  }
  .main-footer {
    grid-area: footer;
  }

  .wrapper {
    display: grid;
    gap: 20px;
    grid-template-areas:
      "header"
      "nav"
      "img"
      "content"
      "sidebar"
      "ad"
      "footer";
  }

  /* Style the social media link boxes */
.social-links {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  display: flex;
}

.social-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-left: 10px;
  text-decoration: none;
  color: #333; /* Text color for labels */
}

.social-link img {
  width: 40px; /* Adjust the icon size as needed */
  height: 40px;
}

  @media (min-width: 700px) {
    .wrapper {
      grid-template-columns: 1fr 4fr 1fr;
      grid-template-areas:
        "nav    nav     nav"
        "header    content ."
        "img    content ad"
        "footer footer  footer";
    }
    nav ul {
      flex-direction: column;
    }
  }

/* Mobile layout styles */
@media (max-width: 699px) {
    .wrapper {
        grid-template-columns: 1fr;
        grid-template-areas:
            "nav"
            "header"
            "img"
            "content"
            "sidebar"
            "ad"
            "footer";
    }
}

/* Style the footer */
footer {
    background-color: #7f85a0;
    color: #fff;
    padding: 10px;
    width: 100%;
}

@media screen and (max-width: 768px) {
  .social-links {
      position: static; /* Remove absolute positioning for smaller screens */
      margin-top: 10px; /* Add some spacing */
      justify-content: flex-end; /* Align links to the bottom */
  }

  .social-link {
      margin-left: 5px; /* Reduce margin between links */
  }
}
