/* styleSheet1.css */

/* Styling the body element */
/* Styling headings */
h3 {
    color: #7f85a0;
}

.main-head {
    grid-area: header;
  }
.main-img {
    grid-area: img;
  }
  .content {
    grid-area: content;
  }
  .navbar {
    grid-area: nav;
  }
  .side {
    grid-area: sidebar;
  }
  .ad {
    grid-area: ad;
  }
  .main-footer {
    grid-area: footer;
  }

  .icon {
    grid-area: icon;
  }

  .wrapper {
    display: grid;
    gap: 20px;
    grid-template-areas:
      "header"
      "nav"
      "img"
      "content"
      "sidebar"
      "ad"
      "icon"
      "footer";
  }

  @media (min-width: 700px) {
    .wrapper {
      grid-template-columns: 1fr 4fr 1fr;
      grid-template-areas:
        "nav    nav     nav"
        "header    content sidebar"
        "img    content sidebar"
        "footer footer  footer";
    }
    nav ul {
      flex-direction: column;
    }
  }

/* Mobile layout styles */
@media (max-width: 699px) {
    .wrapper {
        grid-template-columns: 1fr;
        grid-template-areas:
            "nav"
            "header"
            "img"
            "content"
            "sidebar"
            "ad"
            "footer";
    }
}

.main-footer {
  display: flex;
  justify-content: space-between; /* Aligns content to left and right */
  background-color: #7f85a0;
  color: #fff;
  padding: 10px;
  width: 100%;
}

.contact-info {
  display: flex;
  align-items: center;
}

.icon {
  display: inline-block;
  margin: 0 20px;
  position: relative;
}

.icon img {
  width: 15px;
  height: 15px;
  cursor: pointer;
}

.icon:hover .contact-info span {
  display: inline-block;
  position: absolute;
  background-color: #fff;
  color: #333;
  padding: 5px 10px;
  border-radius: 5px;
  top: 25px;
  left: 0;
  z-index: 1; /* To ensure it appears above other content */
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}




