/* styleSheet1.css */
/* Print Query and Font Development */

@font-face {
  font-family: 'CustomFont';
  src: url('Visuals/Fonts/Raleway/Raleway-Italic-VariableFont_wght.ttf') format('woff2'),
       url('Visuals/Fonts/Raleway/Raleway-VariableFont_wght.ttf') format('woff');
  /* You can add additional font formats and sources here if needed */
  font-weight: normal; /* Specify the font weight */
  font-style: normal; /* Specify the font style (e.g., italic) */
}

/* Now you can apply the custom font to specific elements */
body {
  font-family: 'CustomFont', sans-serif;
}

h1 {
  font-family: 'CustomFont', serif;
  font-style: italic; /* Specify the font style for h1 as italic */
}

@media print {
  /* Set the font color to black for all elements */
  body, h1, p, ul, ol, blockquote, .main-footer {
    color: black !important;
  }

  /* Set a serif font for all elements */
  body, h1, p, ul, ol, blockquote, .main-footer {
    font-family: serif !important;
  }

  /* Apply the custom font to the h1 element */
  h1 {
    font-family: 'CustomFont', serif !important;
  }

  /* Adjust the printable margins to be 1" on all sides */
  @page {
    margin: 1in;
  }
}
