/* styleSheet1.css */

/* Styling the body element */
/* Styling headings */
h1 {
    color: #7f85a0;
}

.main-head {
    grid-area: header;
  }
.main-img {
    grid-area: img;
  }
  .content {
    grid-area: content;
  }
  .navbar {
    grid-area: nav;
  }
  .side {
    grid-area: sidebar;
  }
  .ad {
    grid-area: ad;
  }
  .main-footer {
    grid-area: footer;
  }

  .wrapper {
    display: grid;
    gap: 20px;
    grid-template-areas:
      "header"
      "nav"
      "img"
      "content"
      "sidebar"
      "ad"
      "footer";
  }

  @media (min-width: 700px) {
    .wrapper {
      grid-template-columns: 1fr 4fr 1fr;
      grid-template-areas:
        "nav    nav     nav"
        "header    content ."
        "img    content ad"
        "footer footer  footer";
    }
    nav ul {
      flex-direction: column;
    }
  }

/* Mobile layout styles */
@media (max-width: 699px) {
    .wrapper {
        grid-template-columns: 1fr;
        grid-template-areas:
            "nav"
            "header"
            "img"
            "content"
            "sidebar"
            "ad"
            "footer";
    }
}

/* Style the footer */
footer {
    background-color: #7f85a0;
    color: #fff;
    padding: 10px;
    width: 100%;
}


